<h1>Movies</h1>

Listing generated at <%= Time.now %>
Listing generated at <%= Time.now %>

<ul>
  <li>Friday Nigth Lights</li>
  <li>The Social Network</li>
  <li>Any Given Sunday</li>
  <li>Fight Club</li>
  <li>Fight Club</li>
</ul>
